# Servidor
PORT=3000

# Base de datos (Estela te pasará estos datos cuando tenga PostgreSQL listo)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=safe360
DB_USER=postgres
DB_PASSWORD=

# JWT (autenticación)
JWT_SECRET=

# Mapbox
MAPBOX_API_KEY=

# Gemini (Jorge la generará en Google AI Studio)
GEMINI_API_KEY=

# Twilio (para el SOS por SMS)
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
